Завдання перше
.text-box>h3:first-child{
    color: pink;
}
#greycol{color: grey;}
.text-box>div:nth-child(5){color: red;}
.text-box>p:nth-child(7){color: green;}
.yellow{color: yellow;}
.monday:nth-child(2n+1){color: darkblue;}
.monday:nth-child(even){color:yellow;}
.tuesday>li:first-child{color: black;}
.tuesday:nth-child(n+1){color: white;}
.tuesday>li:last-child{color: red;}
.wednesday:nth-child(-n+2){color: red;}

.wednesday>li:nth-child(6){color: blue;}
.wednesday>li:nth-child(7){color: blue;}
.thursday:hover{color:aqua ;}
.friday>li:not(0000000){color: gold;}